source	target	type
neural tube closure	maternal body weight	infer
neural tube closure	adams-oliver syndrome	infer
tp53	establishment of protein localization	database
weight loss	perry syndrome	pubmed
maternal body weight	neural tube closure	infer
neural tube closure	ocular coloboma	infer
neural tube closure	omphalocele	infer
weight loss	maternal body weight	pubmed
neural tube closure	cloacal exstrophy	infer
maternal body weight	weight loss	pubmed
tp53	multifactorial inheritance	database
weight loss	gastrointestinal obstruction	pubmed
multifactorial inheritance	neural tube closure	infer
establishment of protein localization	fuz	database
multifactorial inheritance	oligogenic inheritance	database
multifactorial inheritance	digenic inheritance	database
neural tube closure	multifactorial inheritance	infer
tp53	weight loss	database
multifactorial inheritance	polygenic inheritance	database
peristalsis	gastrointestinal obstruction	infer
omphalocele	peristalsis	infer
weight loss	decreased appetite	pubmed
fuz	neural tube closure	database
