source	target	type
top2a	topoisomerase ii alpha	pubmed
kras	kmt2a	database
obesity	curve analyses	pubmed
gnpda2	obesity	database
doxorubicin	cbr1	pubmed
protein binding	top2a	database
dna recombination	dna repair	infer
kmt2a	protein binding	database
impa1	aggressive behavior	database
survival curve	response to doxorubicin	infer
top2a	magnesium ion binding	database
cbr1	mapk1	database
mapk1	top2a	database
cell cycle	dna repair	infer
estrogen receptor binding	breast cancer	infer
magnesium ion binding	dna binding	infer
avp	kmt2a	database
response to doxorubicin	breast cancer	infer
psmb9	top2a	database
doxorubicin	abcb5	pubmed
response to doxorubicin	nasopharyngeal cancer	infer
cbr1	kras	database
creb3l1	ubc	database
protein binding	impa1	database
estrogen receptor binding	uterine cancer	infer
lung cancer	stomach cancer	pubmed
impa1	magnesium ion binding	database
metal ion binding	dna binding	pubmed
mammary gland development	estrogen binding	infer
abcb5	abcb1	pubmed
tumor behavior	cell cycle	pubmed
nasopharyngeal cancer	lung cancer	pubmed
cell cycle	mammary gland development	pubmed
creb3l1	avp	database
curve analyses	survival curve	pubmed
kmt2a	obesity	database
kmt2a	metal ion binding	database
uterine cancer	lung cancer	pubmed
abcb1	kmt2a	database
estrogen binding	breast cancer	infer
topoisomerase ii alpha	cell cycle	pubmed
aggressive behavior	tumor behavior	infer
dna repair	cell cycle	infer
survival curve	dna repair	infer
proportional hazards	estrogen receptor binding	infer
stomach cancer	female breast cancer	pubmed
abcb5	psmb9	database
survival curve	proportional hazards	pubmed
estrogen binding	uterine cancer	infer
dna binding	dna recombination	pubmed
protein binding	gnpda2	database
female breast cancer	breast cancer	pubmed
top2a	protein binding	database
doxorubicin	creb3l1	pubmed
kmt2a	aggressive behavior	database
top2a	metal ion binding	database
dna repair	survival curve	infer
ubc	top2a	database
dna repair	lung cancer	infer
