source	target	type
rbp3	obesity	database
female breast cancer	breast cancer	pubmed
daxx	top2a	database
hras	kmt2a	database
lung cancer	stomach cancer	pubmed
cbr1	cops5	database
cops5	top2a	database
cbr1	hras	database
survival curve	response to doxorubicin	infer
abcb5	psmb9	database
top2a	cellular response to stimulus	database
doxorubicin	cbr1	pubmed
metal ion homeostasis	hormesis	infer
estrogen binding	breast cancer	infer
doxorubicin	creb3l1	pubmed
kmt2a	nucleus	database
stomach cancer	female breast cancer	pubmed
translesion synthesis	brca1 mutation	infer
proportional hazard	estrogen receptor binding	infer
top2a	topoisomerase ii alpha	pubmed
nucleus	top2a	database
creb3l1	ewsr1	pubmed
kmt2a	metal ion binding	database
survival curve	proportional hazard	pubmed
magnesium ion binding	catalytic activity	infer
population genetic	dna repair	infer
aggressive behavior	courtship behavior	infer
metal ion binding	metal ion homeostasis	infer
abcb1	kmt2a	database
top2a	ion binding	database
hormesis	dna repair	infer
ion binding	efhc1	database
stk36	magnesium ion binding	database
translesion synthesis	dna repair	infer
lung cancer	dna repair	infer
top2a	metal ion binding	database
dna repair	translesion synthesis	infer
laryngeal cancer	lung cancer	pubmed
top2a	magnesium ion binding	database
estrogen binding	uterine cancer	infer
ewsr1	kmt2a	database
kmt2a	aggressive behavior	database
efhc1	aggressive behavior	database
brca1 mutation	estrogen binding	infer
estrogen receptor binding	uterine cancer	infer
cellular response to stimulus	rbp3	database
dna repair	survival curve	infer
dna repair	lung cancer	infer
estrogen receptor binding	breast cancer	infer
nucleus	stk36	database
creb3l1	daxx	database
catalytic activity	protecting groups	infer
topoisomerase ii alpha	lung cancer	pubmed
uterine cancer	lung cancer	pubmed
kmt2a	obesity	database
courtship behavior	population genetic	infer
response to doxorubicin	breast cancer	infer
protecting groups	dna repair	infer
doxorubicin	abcb5	pubmed
response to doxorubicin	laryngeal cancer	infer
psmb9	top2a	database
indian population	translesion synthesis	infer
obesity	indian population	pubmed
abcb5	abcb1	pubmed
