source	target	type
dna repair	translesion synthesis	infer
laryngeal cancer	lung cancer	pubmed
top2a	topoisomerase ii alpha	pubmed
magnesium ion binding	rna folding	infer
estrogen binding	breast cancer	infer
topoisomerase ii alpha	cell cycle	pubmed
regulation of transcription by rna polymerase ii	kmt2a	database
kmt2a	aggressive behavior	database
kmt2a	regulation of transcription by rna polymerase ii	database
snca	magnesium ion binding	database
top2a	metal ion binding	database
estrogen binding	uterine cancer	infer
hras	kmt2a	database
uterine cancer	lung cancer	pubmed
estrogen receptor binding	uterine cancer	infer
ubc	top2a	database
lung cancer	peritoneal mesothelioma	pubmed
response to doxorubicin	breast cancer	infer
survival curve	dna repair	infer
hereditary breast	estrogen receptor binding	infer
cell cycle	dna repair	infer
kmt2a	obesity	database
doxorubicin	cbr1	pubmed
translation	dna repair	infer
metal ion binding	trna binding	infer
translesion synthesis	brca1 mutation	infer
estrogen receptor binding	breast cancer	infer
abcb5	psmb9	database
creb3l1	ubc	database
kmt2a	metal ion binding	database
ywhae	top2a	database
transition metal ion binding	snca	database
dna repair	lung cancer	infer
abcb1	kmt2a	database
trna binding	translation	infer
cbr1	ywhae	database
rna folding	translation	pubmed
brca1 mutation	estrogen binding	infer
abcb5	abcb1	pubmed
cbr1	hras	database
peritoneal mesothelioma	response to doxorubicin	infer
psmb9	top2a	database
top2a	magnesium ion binding	database
regulation of transcription by rna polymerase ii	top2a	database
curve analyses	survival curve	pubmed
survival curve	response to doxorubicin	infer
gallbladder cancer	cell cycle	pubmed
aggressive behavior	gallbladder cancer	infer
dna repair	survival curve	infer
response to doxorubicin	laryngeal cancer	infer
doxorubicin	creb3l1	pubmed
ubc	kmt2a	database
kmt2a	transition metal ion binding	database
doxorubicin	abcb5	pubmed
obesity	curve analyses	pubmed
top2a	regulation of transcription by rna polymerase ii	database
translesion synthesis	hereditary breast	infer
