source	target
sptan1	acta1	database
acta1	diazinon	PPI
acta1	sorbose	PPI
acta1	ethoxyquin	PPI
acta1	metaproterenol	PPI
acta1	jejunoileal bypass	PPI
acta1	agrochemicals	PPI
acta1	microspectrophotometry	PPI
acta1	suture techniques	PPI
acta1	methoxychlor	PPI
acta1	sugar alcohols	PPI
acta1	cediranib	PPI
acta1	bentonite	PPI
acta1	drug administration schedule	PPI
acta1	ligase chain reaction	PPI
acta1	myeloma proteins	PPI
acta1	galactose oxidase	PPI
acta1	xanthines	PPI
acta1	almitrine	PPI
acta1	phosphatidate phosphatase	PPI
acta1	ergonovine	PPI
acta1	etiocholanolone	PPI
acta1	vascular endothelial growth factors	PPI
acta1	pyrazoles	PPI
acta1	two-dimensional difference gel electrophoresis	PPI
acta1	thymopentin	PPI
acta1	belinostat	PPI
acta1	guaiac	PPI
acta1	propanidid	PPI
acta1	apolipoprotein e4	PPI
brca1	tars	database
